/* variables */
$clr-black: black;
$clr-gray: gray;
$clr-white: white;
$clr-shadow: rgb(58, 53, 53);
$clr-main-lv1: #524A4A;
$clr-main-lv2: #655C5C;
$clr-main-lv3: #766B6B;
$clr-main-lv4: #968686;
$clr-main-lv5: #A59696;
$clr-selected: #FDB584;
$clr-img-btn-hover: #FFFFFF33;

$f-size-1: 1rem * 0.75;
$f-size-2: 1rem;
$f-size-3: 1rem * 1.25;
$f-size-4: 1rem * 1.5;
$f-size-5: 1rem * 2;
$f-size-6: 1rem * 3;

$limit-w-pc: 768px;
